In [ ]:
# print simples
print("Olá mundo")

# variáveis
inteiro = 123
texto = "Ramon Ferreira"
real = 10.5
boleano = True

# print formatado
print(f"Olá {texto}, você tem {inteiro} anos")

In [10]:
# Cálculo matemático

soma = 1 + 1
subtracao = 2 - 1
multiplicacao = 2 * 7
divisao = 10 / 2
divisao_inteira = 10 // 3
modulo = 10 % 2
exponenciacao = 2 ** 2
print(exponenciacao)

4

In [ ]:
a = 10
b = 20

# Operadores relacionais

print(a==b) # a "é igual a" b?
print(a>b) # a "é maior que" b?
print(a<b) # a "é menor que" b?
print(a!=b) # a "é diferente a" b?
print(a>=b) # a "é maior ou igual que" b?
print(a<=b) # a "é menor ou igual que" b?

# Operadores lógicos

print(a==b and 2*a>b) # a "é igual a" b "e" 2*a "é maior que" b?
print(a==b or 2*a>b) # a "é igual a" b "ou" 2*a "é maior que" b?
print(not a>b) # a "NÃO é maior que" b?

In [ ]:
# Conversão de variáveis

texto = str(123)
print(type(texto))

inteiro = int(texto)
print(type(inteiro))

real = float("12.3")
print(type(real))

In [ ]:
# Entrada de dados
nome = input("Digite seu nome: ") # por padrão o input trás texto
idade = int(input("Digite a sua idade: ")) # temos que converter a idade que foi passada em texto para inteiro
nota = int(input("Digite sua Nota: "))

# Condicionais
idade = 18
if idade >= 18:
  print("De maior")

nota = 6
if nota >= 7:
  print("Aprovado")
else:
  print("Reprovado")

media = 7
if media==10:
  print("Aprovado e laureado")
elif media>=9 and media<10:
  print("Aprovado com honra ao mérito")
elif media>=7:
  print("Aprovado")
elif media>=6:
  print("Prova final")
elif media>=4:
  print("Recuperação")
else:
  print("Reprovado")

In [16]:
marca = "toyota"
modelo = "corolla"

if marca == "toyota":
  if modelo=="corolla":
    print("R$ 154.990,00")
  elif modelo=="hilux":
    print("R$ 273.090,00")
  else:
    print("Modelo não encontrado")
elif marca == "honda":
  if modelo=="civic":
    print("R$ 244.900,00")
  elif modelo=="hrv":
    print("R$ 194.800,00")
  else:
    print("Modelo não encontrado")
elif marca == "volkswagen":
  if modelo=="gol":
    print("R$ 75.490,00")
  elif modelo=="polo":
    print("R$ 95.990,00")
  else:
    print("Modelo não encontrado")
elif marca == "fiat":
  if modelo=="argo":
    print("R$ 79.790,00")
  elif modelo=="hilux":
    print("R$ 99.990,00")
  else:
    print("Modelo não encontrado")
else:
  print("Não existe esta marca")

R$ 154.990,00

In [ ]:
# While
x = 1
while x <= 10:
  print(x)
  x = x + 1 # ou X += 1
  x += 1

In [18]:

# Acumulador
somatorio = 0
contador = 1
while contador <= 10:
  valor = int(input("Digite um valor"))
  somatorio = somatorio + valor
  contador = contador + 1
print(f"O somatório total dos valores é de: {somatorio}")

O somatório total dos valores é de: 52

In [ ]:

# Interrupção
somatorio = 0
contador = 1
while contador <= 10:
  valor = int(input("Digite um valor"))
  if valor == 0:
    break
  somatorio = somatorio + valor
  contador = contador + 1
print(f"O somatório total dos valores é de: {somatorio}")

In [ ]:

# Repetição aninhada
x = 1
while x <= 10:
  print(f"Tabuada do {x}")
  y = 1
  while y <= 10:
    print(f"{x} * {y} = {x*y}")
    y = y+1
  x = x+1

In [ ]:

# For simples
for x in [1, 2, 3]:
  print(x)

In [ ]:

# For usando range - 1 a 10
for x in range(1, 11):
  print(x)

In [27]:

# For usando range invertigo - 10 a 1
for x in range(10, 0, -1):
  print(x)

In [ ]:
# Lista
lista = [1, 2, 3]
lista_nomes = ["ramon", "jose", "maria"]

# Como apresentar uma lista inteira
print(lista)

In [ ]:

# Como setar apenas um valor da lista
lista = [1, 2, 3]
print(lista[0]) # toda lista começa da posição 0
print(lista[1])
print(lista[2]) # tamanho máximo da lista que criamos na linha 50

In [ ]:

# For em uma lista
lista_nomes = ["ramon", "jose", "maria"]
for nome in lista_nomes:
  print(nome)

In [ ]:

# Como alterar um valor da lista
lista_nomes = ["artur", "jose", "maria"]
print(lista_nomes)

lista_nomes[2] = "josefa"
print(lista_nomes)

In [ ]:

# Saber o tamanho da lista
lista_nomes = ["artur", "jose", "maria"]
print(len(lista_nomes))

In [ ]:

# Como adicionar elementos na lista
lista_nomes = ["artur", "jose", "maria"]
print(lista_nomes)
lista_nomes.append("Ramon")
print(lista_nomes)

In [ ]:

# Como remover um elemento da lista
lista_nomes = ["artur", "jose", "maria"]
del lista_nomes[2]
print(lista_nomes)

In [ ]:

# Matriz (lista dentro de uma lista)
matriz = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

# Imprimindo a linha 0 = [1, 2, 3]
print(matriz[0])

# Imprimindo o valor 1 = "2" da linha 0 = [1, 2, 3]
print(matriz[1][0])

# Exemplo de listas
carrinho_de_compras = []

# [nome do produto, quantidade, valor unitário]
produto1 = ["Maçã", 2, 5.5]
carrinho_de_compras.append(produto1) # Adicionando o produto 1 no carrinho

produto2 = ["Coca-cola", 1, 7.5]
carrinho_de_compras.append(produto2) # Adicionando o produto 2 no carrinho

produto3 = ["Biscoito", 3, 3.5]
carrinho_de_compras.append(produto3) # Adicionando o produto 3 no carrinho

print(f"Seu carrinho de compras é: {carrinho_de_compras}")